<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>level 1 challenge</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/level_one.css">
  </head>
  <body onload = "initialize();">

    <h1>Welcome to the CSS Grid Games Challenge</h1>
       <h2>Goal: Write the CSS code for the designs that appear on each level, 1-5. </h2>
          <h3>This is Level 1</h3>
    <div class="container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>

</div>
      <br>
      <hr>
      <h3> Check out the other CSS Grid Levels.</h3>
    
      <h3><a href="css2">Level 2 </a> </h3>
      <h3><a href="css3">Level 3 </a> </h3>
      <h3><a href="css4">Level 4 </a> </h3>
      <h3><a href="css5">Level 5 </a> </h3>
<br>
<div><a href="login">Login</a> for more info</div>
    <!--  
<div id= form>
    <form id = "inputform" method="POST">
     Enter your name: <input name = "username" type = "text"/>
     <br>
     Enter your password: <input name = "password" type = "text"/>
      <label>
        <input name = "contest" type = "checkbox" /> Check here if you want to participate in the grid games contest.
      </label>
      <button>SUBMIT</button>
       
      <div id= "send">
  <input type="submit" value="Submit">
  </div>


     </form>
     </div>
         -->
     <br>
     <div>Number of views for this page: <span id="visits"> </span> </div>

  </body>
  <script src="/static/scripts.js"></script>
</html>

